@use "variables" as *;

.news {
  background: $brownLight;
  padding-bottom: 50px;

  &__container {
    padding-top: 50px;
  }

  .number {
    padding-right: 20px;
    font-size: 35px;
    color: rgb(97, 88, 250);
  }

  .block {
    display: flex;
    margin: 15px;

    &__img {
      padding-left: 300px;
    }

    .img_01 {
      padding-left: 310px;
    }

    &__title {
      border-right: 3px solid black;
      padding-bottom: 10px;
      font-family: "Open Sans";
      font-size: 25px;
    }

    &__text {
      max-width: 370px;
      margin-bottom: 15px;
      color: $black;
      font-family: "Lato";
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 30px;
      text-transform: uppercase;
    }

    @media screen and (max-width: $tablet) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: $desktop) {
      flex-wrap: wrap;
    }
  }
}
