$white: #fff;
$black: #000;
$brownDark: #35312d;
$arrowInactive: #202020;
$tomato: #d69bca;
$tomatoLight: #8389a8;
$brownLight: #e7f1f6;
$dotInactive: rgba(248, 241, 234, 0.7);
$darkDotInactive: #cac2ba;

$tablet: 767px;
$desktop: 1320px;
$mobile: 320px;
